.container {
  width: 100%;
  height: calc(100% - 85px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  min-width: 900px;
  max-width: 1060px;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-16) var(--space-32);
  background-color: var(--colors-success-500);
  color: var(--white);
  font-weight: var(--font-weight-600);
}

.footerLink {
  text-decoration: underline;
  cursor: pointer;
}

.actionBtn {
  display: flex;
  column-gap: var(--space-16);
}

@media only screen and (max-width: 868px) {
  .container {
    display: block;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    max-width: 800px;
    height: 100%;
    border-radius: 0px;
  }

  .footer {
    width: 100%;
  }
}
